body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px 20px 10px;
  background: linear-gradient(to right, rgba(103,93,90,0.6), rgba(103,93,90,0.8), rgba(103,93,90,1));
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Welcome Page */

.welcome-page {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #fff;
}

.signup-login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
}


.checkMate-logo {
  color: #fff;
  width: 60px;
  height: auto;
  margin-top: 10px;
}

.welcome-blurb h1 {
  color: #4d4848;
}

.signup-button , .login-button {
  position: relative;
  background-color: #706b6b;
  border-radius: 15px;
  margin: 20px;
  padding: 30px;
  height:10px;
  width: 80%;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #393333;
  margin-top: -9px;
}

.login-button p {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -9px;
}

.signup-button p {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -9px;
}

/* HomeHeader */
.checklist-header {
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.checklist-header .text {
  width: 80%;
}

.checklist-header .text h3 {
  font-size: 24px;
  margin: 0px;
  font-weight: 500;
}

.checklist-header .text h5 {
  font-size: 14px;
  margin: 15px 0 0; /* Top: 15px; Rest: 0px */
  font-weight: 500;
}

/* Automatically 20% as .text is 80% */
.checklist-header .notification
{
  padding: 5px 0 0;
}

/****************
*
* CARD
*
*****************/

.home-card:nth-of-type(1) {
  background-color: #393333;
}

.home-card:nth-of-type(2) {
  background-color: #ffffff;
}

.home-card {
  padding: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  border-radius: 15px;
}

.home-card .card-row {
  display: flex;
  justify-content: space-between;
}

.home-card .card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.home-card .card-subtitle {
  font-size: 12px;
}

.home-card .card-text {
  color: #adadad;
  margin: 15px 0 0;
}

.home-card .card-number {
  font-size: 25px;
  margin: 0;
  font-weight: 700;
}

.home-card .card-row .card-button {
  align-content: center;
}

.home-card .card-row .card-button button {
  border-radius: 50%;
  width: 40px;
  border: none;
  height: 40px;
  color: #ffffff;
}

.home-card .card-row .card-button.dark button {
  background: linear-gradient(135deg, #ffffff, #706b6b, #4d4848, #706b6b);
}

/****************
*
* PAGE HEADERS
*
*****************/
.page-header {
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* Automatically 20% as .text is 80% */
.page-header .text {
  width: 100%;
  text-align: center;
}

.page-header .text h3 {
  font-size: 24px;
  margin: 0px;
  font-weight: 500;
}

.page-header .text h5 {
  font-size: 14px;
  margin: 15px 0 0; /* Top: 15px; Rest: 0px */
  font-weight: 500;
}

.page-header .back-button
{
  padding: 10px 0 0;
}

/* page curved section */

.curved-section {
  background: #fff;
  width: 100%; 
  position: absolute;
  left: 0;
  top: 100px;
  bottom: 0;
  height: 90%;
  padding: 30px 20px 30px;
  box-sizing: border-box;
  border-radius: 25px 25px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/****************
*
* FOOTER BUTTONS
*
*****************/

.footer-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  border-radius: 25px 25px 0 0; /* Curves the top left and top right */
  box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
}

.footer-buttons nav {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.footer-button {
  font-size: 12px;
  color: #888888;
}

.footer-button.active {
  font-weight: 700;
  color: #000000;
}

.footer-button svg {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
}


/****************
*
* ADD ITEM BUTTONS
*
*****************/


.addItemButton {
  background-color: #6E5641; /* The brown color seen in the mockup */
  color: white; 
  padding: 10px 20px; 
  border-radius: 5px; 
  text-align: center;
  /* vertical-align: middle; */
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 30px;
  margin: 20px 0; /* Adjust the margin as needed */
}

.addItemButton h5 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -9px;
}


/****************
*
* TABLE FORMATTING
*
*****************/
/* .checklistTable {
  align-self: center;
} */
table {
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #d6d5d5; /* this draws the table border  */ 
  text-align: center;
	vertical-align: middle;
  width: 100%;
}

th, td {
  border-top: 1px solid #d6d5d5;
  border-bottom: 1px solid #d6d5d5;
  padding: 8px;
}

th {
  border-right: .5px solid #d6d5d5 ;
}

thead {
  background-color: #6E5641;
  color: white;
}

.checkedCol {
  width: 20%;
  border-top-right-radius: 10px;
}

.itemNameCol {
  width: 50%;
  border-top-left-radius: 10px;
}

.categoryCol {
  border-top-right-radius: 10px;
}

